@use '../abstracts/variables' as *;

// about-1-start

.txa-about-1 {
    &-area {
        position: relative;
        z-index: 1;
    }
    &-bg-color {
        display: block;
        width: 56%;
        margin-left: auto;
        margin-right: auto;
        height: 50%;
        background: linear-gradient( 180deg, rgb(217,229,255) 0%, rgb(236,242,255) 52%, rgb(255,255,255) 100%);
        position: absolute;
        border-radius: 10px;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        @media #{$xxl,$xl,$lg,$md,$xs} {
            width: 95%;
        }


    }
    &-section-title {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    &-feature-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr .8fr;
        gap: 30px;
        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr; 
        }
        @media #{$xs} {
            grid-template-columns: 1fr; 
        }
    }
    &-feature {
        gap: 18px;
        .icon {
            flex: 0 0 auto;
            width: 125px;
            height: 125px;
            background: #fff4c1;
            border-radius: 50%;
            text-align: center;
            line-height: 145px;
            font-size: 70px;
            color: var(--txa-heading-1);
            &:is(.has-color-1) {
                background-color: #cedbff;
            }
            &:is(.has-color-2) {
                background-color: #F1FFC4;
            }

            i {
                display: inline-block;
                transition: 800ms var(--cube-1);
            }

        }
        .subtitle {
            display: inline-block;
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            margin-bottom: 5px;

        }
        .title {
            font-size: 32px;
            line-height: 1.25;
            letter-spacing: -.2px;
            @media #{$xl,$lg} {
                font-size: 28px;
            }
            @media #{$md} {
                font-size: 24px;
            }
            @media #{$xs} {
                font-size: 22px;
            }
        }
        &:hover {
            .icon {
                i {
                    animation: shake 200ms 2 linear;
                }
            }
        }
    }
    &-disc {
        max-width: 810px;
        margin-left: auto;
        margin-right: auto;
    }
    &-img-wrap {
        position: relative;
        &:is(.active) {
            .txa-about-1-img-2 {
                left: 0;
                transform:  rotate(0deg);
                transition-delay: transform 5s ;
            }
        }
    }
    &-img-1 {
        max-width: 810px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 12px;
        border: 12px solid #D2E4FF;
        position: relative;
        z-index: 2;
        box-shadow: 0px 50px 50px 0 rgb(0 0 0 / 7%);

        @media #{$lg} {
            max-width: 520px;
        }

        img {
            border-radius: 12px;
        }
        
    }
    &-img-2 {
        position: absolute;
        bottom: 0;
        left: 0%;
        transition: all 0s cubic-bezier(0.82, 0.16, 0.43, 1.49) 0s;
        @media #{$md,$xs} {
            display: none;    
        }
    }
    
    &-img-3 {
        position: absolute;
        right: 0;
        bottom: 0;
        @media #{$md,$xs} {
            display: none;   
        }
    }
}


// about-1-end

// about-2-start
.txa-about-2 {
    &-section-title {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0 70px;
        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
        .txa-subtitle-3 {
            grid-column: 1 / -1;
        }
    }
    &-counter-wrap {
        position: relative;
        align-self: start;
        justify-self: self-start;

        @media #{$md,$xs} {
            margin-top: 30px;
        }
        .txa-counter-1-item {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            .number {
                font-size: 48px;
                color: var(--txa-pr-1);
                line-height: 1;
                font-weight: 700;
            }
        }
    }
    &-content {
        padding-right: 25px;
        @media #{$md,$xs} {
            padding-right: 0;
            margin-bottom: 50px;
        }
        .disc {
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            color: var(--txa-heading-2);
            &:nth-child(1) {
                margin-bottom: 20px;
            }
        }
    }
    &-img {
        position: relative;
        z-index: 2;
        margin-right: -48%;
        height: 545px;
        @media #{$over} {
            margin-right: -48%;
        }
        @media #{$xxxl} {
            margin-right: -24%;
        }
        @media #{$xxl} {
            margin-right: -8%;
        }
        @media #{$xl,$lg} {
            margin-right: 0%;
        }
        @media #{$md,$xs} {
            margin-right: 0%;
            height: 400px;
        }
    }
}

.txa-experiance-1 {
    width: 185px;
    position: relative;
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
        width: 170px;
        font-size: 19px;
        fill: #FFF;
        text-transform: uppercase;
        animation: expi-text  20s infinite linear;
    }
}

@keyframes expi-text {
    0% {
        transform: translate(-50% ,-50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50% ,-50%) rotateZ(360deg);
    }
}


.txa-call-icon-1 {
    flex: 0 0 auto;
    width: 62px;
    height: 62px;
    background: var(--txa-gd-1);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 67px;
    font-size: 20px;
    color: #fff;
    transition: 400ms var(--cube-1);
    i {
        display: inline-block;
        transition: 400ms var(--cube-1);
    }

}

.txa-phone-number {
    display: flex;
    align-items: center;
    gap: 15px;
    .title {
        font-size: 16px;
        color: #595959;
        font-weight: 400;
        display: block;
    }
    a {
        font-size: 26px;
        line-height: 34px;
        transition: 400ms var(--cube-1);
        &:hover {
            color: var(--txa-pr-1);
            letter-spacing: .3px;
        }
    }
    &:hover {
        .txa-call-icon-1 {
            i {
                animation: shake 200ms 2 linear;
            }
        }
    }
}

// about-2-end


