@use '../abstracts/variables' as *;

.txa-affiliates {
    &-section-title {
        .txa-title-2 {
            margin-bottom: 25px;
        }
        .subtitle {
            font-size: 54px;
            display: inline-block;
            background: var(--txa-gd-1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: lowercase;
            margin-bottom: 30px;
            @media #{$md} {
                font-size: 48px;
            }
            @media #{$xs} {
                font-size: 36px;
            }
            @media #{$sm} {
                font-size: 42px;
            }
        }
        .txa-para-2 {
            max-width: 690px;
            margin-left: auto;
            margin-right: auto;
            color: #595959;
        }
    }
    &-card-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 50px;
        @media #{$md} {
            gap: 30px 30px;
        }
        @media #{$xs} {
            gap: 30px 30px;
            grid-template-columns: 1fr;
        }
    }
    &-card {
        padding: 45px 85px;
        background: #FFF2F0;
        border-radius: 20px;

        @media #{$lg,$md,$xs} {
            padding: 45px 20px;
        }

        &:is(.has-bg-2) {
            background: #E4FAF4;
        }

        &-title {
            font-size: 42px;
            line-height: 1.47;
            margin-bottom: 25px;
            display: inline-block;
        }
        %-disc {
            color: #595959;
        }
    }
    &-note {
        &-area {
            background: var(--txa-gd-1);
        }
        font-size: 34px;
        line-height: 1.35;
        font-weight: 700;
        color: #fff;
        @media #{$md,$xs} {
            font-size: 24px;
        }
    }
    &-benefits {
        &-left {
            padding-right: 60px;
            @media #{$md,$xs} {
                padding-right: 0px;
                margin-bottom: 40px;
            }
        }
        &-right {
            padding-left: 60px;
            @media #{$md,$xs} {
                padding-left: 0px;
            }
        }
    }
    &-benefits {
        &-area {
            position: relative;
            &::after {
                content: "";
                width: 50%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                background: linear-gradient(180deg, #CDD2DC 0%, #fff 100%);
                opacity: .6;
                @media #{$md,$xs} {
                    width: 100%;
                }
            }
            &::before {
                content: "";
                width: 50%;
                height: 100%;
                top: 0;
                right: 0;
                position: absolute;
                background: linear-gradient(180deg, #F5F8FF 0%, #fff 100%);
                @media #{$md,$xs} {
                    display: none;
                }
            }
        }
        &-title {
            font-size: 52px;
            line-height: 1.19;
            margin-bottom: 30px;
            @media #{$lg,$md} {
                font-size: 44px;
            }
            @media #{$xs} {
                font-size: 32px;
            }
            @media #{$sm} {
                font-size: 38px;
            }
        }
        &-list {
            
            li {
                font-size: 18px;
                line-height: 30px;
                color: var(--txa-heading-1);
                display: flex;
                align-items: baseline;
                gap: 10px;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                i {
                    display: inline-block;
                    line-height: 1;
                    transform: translateY(2px);
                    color: #0761DA;
                }
            }

            &:is(.has-unactive) {
                li {
                    i {
                        color: #FA394B;
                    }
                }
            }
        }
        &-content {
            &-disc{
                max-width: 880px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
                font-size: 20px;
                line-height: 30px;
                a {
                    color: #2F7FEC;
                    &:hover {
                        color: var(--txa-pr-1);
                    }
                }
            }
            .txa-login-reg-btn-1 a, .txa-login-reg-btn-1 span, .txa-login-reg-btn-1 button {
                color: #2F7FEC;
                font-size: 22px;
                &:hover {
                    color: var(--txa-pr-1);
                }
            }
        }
        
    }
}

.affiliates-reg {
    &-section-tilte {
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 60px;
        @media #{$md} {
            font-size: 42px;
        }
        @media #{$xs} {
            font-size: 28px;
        }
        @media #{$sm} {
            font-size: 36px;
        }
    }

    &-content {

        .txa-ticket-form {
            gap: 30px 30px;
            .nice-select {
                &:after {
                    height: 10px;
                    right: 35px;
                    top: 50%;
                    width: 10px;
                }
                .list {
                    margin-top: 0;
                    li {
                        color: var(--txa-heading-2);
                    }
                }
            }
            .check-item label span {
                color: red;
            }

            .txa-pr-btn-1 {
                padding: 27px 53px;
            }

        }
    }
}

.txa-login-form {
    &-area {
        background: #F5F8FF;
    }
    &-content {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }
    &-title {
        font-size: 50px;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 60px;
        @media #{$md} {
            font-size: 42px;
        }
        @media #{$xs} {
            font-size: 28px;
        }
        @media #{$sm} {
            font-size: 36px;
        }
    }
    .txa-ticket-form {
        grid-template-columns: 1fr;

        .input-item .input-box {
            background: #fff;
            color: rgb(89 89 89 / 60%);
            border: 1px solid #D4DAE9;
        }
        .check-item label {
            font-weight: 600;
        }
        .txa-pr-btn-1 {
            font-weight: 800;
            font-size: 20px;
            padding: 26px 60px;
        }
    }
    &-lost-pass {
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        color: red;
        line-height: 30px;
        transition: 300ms var(--cube-2);

        &:hover {
            color: var(--txa-pr-1);
            letter-spacing: .4px;
            text-decoration: underline;
        }
    }
}
