@use '../abstracts/variables' as *;


.txa-blog-details {
    &-content {
        &-border {
            border: 1px solid #F5F5F5;
            padding: 25px 25px;
            border-radius: 10px;
            @media #{$xs} {
                padding: 25px 10px;
            }
            @media #{$sm} {
                padding: 25px 25px;
            }
        }
        .txa-comment-form-wrap {
            box-shadow: none;
            padding: 35px 30px;
            border-radius: 12px;
            border: 1px solid rgb(3 6 23 / 10%);

            .txa-pr-btn-1 {
                width: unset;
                padding: 21px 35px;
            }
        }
    }
    &-img {
        overflow: hidden;
        border-radius: 15px;
        height: 615px;
        @media #{$lg} {
            height: 430px;   
        }
        @media #{$md} {
            height: 310px;   
        }
        @media #{$xs} {
            height: 130px;   
        }
        @media #{$sm} {
            height: 225px;   
        }
    }
    &-meta {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 25px 0px;
        border-bottom: 1px solid #E6E6E8;
        @media #{$xs} {
            flex-wrap: wrap;
        }
        @media #{$sm} {
            flex-wrap: nowrap;
        }
        &::after {
            content: "";
            width: 1px;
            height: 24px;
            background: rgb(30 28 28 / 10%);
            top: 50%;
            transform: translateY(-50%);
            left: 25%;
            position: absolute;
            @media #{$xs} {
                display: none;
            }
        }
        &::before {
            content: "";
            width: 1px;
            height: 24px;
            background: rgb(30 28 28 / 10%);
            top: 50%;
            transform: translateY(-50%);
            right: 25%;
            position: absolute;
            @media #{$xs} {
                display: none;
            }
        }

        .meta-item {
            font-size: 18px;
            text-transform: capitalize;
            font-weight: 600;
            line-height: 30px;
            display: flex;
            align-items: center;
            gap: 7px;
        
            i {
                display: inline-block;
                line-height: 1;
                background: var(--txa-gd-1);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    &-title {
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 30px;
        @media #{$lg} {
            font-size: 45px;
        }
        @media #{$md} {
            font-size: 40px;
        }
        @media #{$xs} {
            font-size: 28px;
        }
        @media #{$sm} {
            font-size: 32px;
        }
    }
    &-disc {
        line-height: 30px;
        color: #595959;
        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }
    &-subtitle {
        font-size: 34px;
        line-height: 1.24;
        font-weight: 900;
        margin-bottom: 20px;
        padding-top: 12px;
        @media #{$lg} {
            font-size: 32px;
        }
        @media #{$md} {
            font-size: 30px;
        }
        @media #{$xs} {
            font-size: 26px;
        }
        @media #{$sm} {
            font-size: 28px;
        }
    }
    &-inner-img {
        height: 505px;
        overflow: hidden;
        border-radius: 15px;
        margin-bottom: 30px;
        position: relative;
        @media #{$lg} {
            height: 400px;
        }
        @media #{$md} {
            height: 360px;
        }
        @media #{$xs} {
            height: 320px;
        }
        @media #{$sm} {
            height: 340px;
        }
    }
    &-themes-btn {
        position: absolute;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        padding: 20px 25px;
        border-radius: 60px;

        @media #{$md} {
            left: 20px;
            transform: unset;
            flex-wrap: wrap;
        }

        @media #{$xs} {
            left: 0px;
            transform: unset;
            flex-wrap: wrap;
            padding: 20px 10px;
            border-radius: 10px;
        }

        @media #{$sm} {
            left: 20px;
            transform: unset;
            flex-wrap: wrap;
            padding: 20px 25px;
            border-radius: 60px;
        }

        .txa-pr-btn-1 {
            font-weight: 700;
        }

        .demo-btn {

            &::after {
                background: var(--txa-heading-2);
            }
        }
    }
    &-feature-list {
        li {
            display: flex;
            align-items: baseline;
            gap: 10px;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
            i {
                line-height: 1;
                font-size: 14px;
                background: var(--txa-gd-1);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: inline-block;
                transform: translateY(2px);
            }
        }
    }
    &-tags-share {
        padding: 40px 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        .title {
            font-size: 24px;
        }
    }
    &-tags {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        a {
            background: #F3F3F3;
            color: #595959;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            display: inline-block;
            padding: 7px 25px;
            transition: 400ms var(--cube-1);
            border-radius: 30px;
            &:hover {
                background-color: var(--txa-pr-1);
                color: #fff;
            }
        }
    }
    &-share {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        a {
            transition: 400ms;
            &:hover {
                transform: scale(93%);
                opacity: .8;
            }
        }
    }
    &-next-post {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 40px 40px;
        background: #F3F3F3;
        border-radius: 10px;
    
        @media #{$md,$xs} {
            grid-template-columns: 1fr ;
            gap: 10px;
        }
    
        .btn-item {
            display: flex;
            align-items: center;
            gap: 20px;
            &:not(:last-child) {
                padding-right: 30px;
                border-right: none;
                @media #{$md,$xs} {
                    border-right: none;
                    padding-right: 0;
                }
            }
            &:not(:first-child) {
                padding-left: 30px;
                flex-direction: row-reverse;
                @media #{$md,$xs} {
                    padding-left: 0px;
                }

                .content-wrap {
                    text-align: right;
                }
            }
            @media #{$xs} {
                flex-wrap: wrap;
            }
            @media #{$sm} {
                flex-wrap: nowrap;
            }
        }
    
        .main-img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            flex: 0 0 auto;
            cursor: pointer;
            @media #{$lg} {
                width: 80px;
                height: 80px;
            }
            .arrow-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 22px;
                color: #fff;
                width: 52px;
                height: 52px;
                border: 2px solid #fff;
                border-radius: 50%;
                text-align: center;
                line-height: 56px;
                transition: 400ms var(--cube-1);
                z-index: 2;
            }
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                background: var(--txa-gd-1);
                content: "";
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: 600ms var(--cube-1);
            }
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                background: #000;
                content: "";
                width: 100%;
                height: 100%;
                opacity: .5;
                transition: 600ms var(--cube-1);
            }
            &:hover {
                .arrow-btn {
                    background: #fff;
                    color: var(--txa-pr-1);
                }
                &::after {
                    opacity: .8;
                }
                &::before {
                    opacity: 0;
                }
            }
        }
        .date {
            display: inline-block;
            font-size: 18px;
            background: var(--txa-gd-1);
            text-transform: uppercase;
            line-height: 24px;
            margin-bottom: 10px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .title {
            font-size: 30px;
            line-height: 1.33;

            @media #{$xl} {
                font-size: 26px;
            }

            @media #{$lg,$md,$xs} {
                font-size: 24px;
            }

            &:hover {
                color: var(--txa-pr-1);
            }
        }
    }
    
}
