@use '../abstracts/variables' as *;

.txa-blog-1 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px 40px;
        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
    }
}

.txa-blog-1{
    &-item {
        .main-img {
            width: 100%;
            height: 290px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 15px 0 rgb(0 0 0 / 8%);
        }
        .content-wrap {
            padding: 25px  30px;
            padding-bottom: 0;
            @media #{$xl,$lg,$md,$xs} {
                padding: 25px  15px;
            }
        }
        .subtitle {
            background: var(--txa-gd-1);
            display: inline-block;
            font-size: 15px;
            line-height: 1;
            color: #fff;
            border-radius: 15px;
            padding: 8px 11px;
            letter-spacing: -.2px;
            margin-bottom: 12px;
            font-weight: 500;
        }
        .title {
            font-size: 27px;
            line-height: 1.29;
            letter-spacing: -.2px;
            margin-bottom: 13px;
            @media #{$lg,$md,$xs} {
                font-size: 20px;
            }
            a {
                background-image: linear-gradient(#cc2b5e, #cc2b5e);
                background-size: 100% 0px;
                background-repeat: no-repeat;
                background-position: bottom;
                transition: 400ms var(--cube-1);
                overflow: hidden;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            &:hover {
                color: var(--txa-pr-1);
                a {
                    background-size: 100% 1px;
                }
            }
        }
        &:hover {
            .main-img {
                animation: shake 700ms linear;
            }
        }
    }
    &-meta {
        span {
            display: inline-block;
            font-size: 15px;
            font-weight: 600;
            &:not(:last-child) {
                padding-right: 40px;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    width: 22px;
                    height: 1px;
                    background: #D3D1D1;
                    right: 6px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            i {
                display: inline-block;
                margin-right: 3px;
                transform: translateY(2px);
                color: var(--txa-pr-1);
            }
        }
    }
    
}
