

@use '../abstracts/variables' as *;

.breadcrumb {
    &-title {
        margin-bottom: 25px;
        @media #{$lg} {
            font-size: 55px;
        }
        @media #{$md} {
            font-size: 50px;
        }
        @media #{$xs} {
            font-size: 35px;
            margin-bottom: 15px
        }
        @media #{$sm} {
            font-size: 45px;
        }
    }
    &-list {
        & a,& span {
            font-weight: 600;
            line-height: 28px;
            font-size: 20px;
            font-family: var(--urbanist);
            color: var(--txa-pr-1);
            text-decoration: none;
            display: inline-block;
        }
        & a {
            padding-right: 25px;
            position: relative;
            margin-right: 20px;
            &:hover {
                color: var(--txa-pr-1);
            }
            &::after {
                content: "\f103";
                position: absolute;
                font-family: flaticon_txa !important;
                right: -12px;
                top: 53%;
                transform: translateY(-50%);
                color: var(--pr-ec4814);
            }
        }
    }
}

