@use '../abstracts/variables' as *;

// all-button-css-start

// login-reg-btn-1-css-start
.txa-login-reg-btn-1 {
    a , span , button {
      font-family: var(--urbanist);
      font-weight: 800;
      text-transform: capitalize;
      color: var(--txa-heading-1);
      display: inline-block;
      font-size: 15px;
      transition: 300ms var(--cube-2);
      &:hover {
        color: var(--txa-pr-1);
        transform: translateY(-2px);
      }
    }
}
// login-reg-btn-1-css-end

// bar-1-css-start
.txa-bar-1 {
    flex: 0 0 auto;
    width: 22px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 500ms var(--cube-1);
    
    span {
        display: block;
        background: #000;
        width: 100%;
        height: 3px;
        transition: 500ms var(--cube-1);
        &:nth-child(2) {
            width: 80%;
        }
        &:nth-child(3) {
            width: 50%;
        }
    }
    &:hover {
        span {
            background-color: var(--txa-pr-1);
            &:nth-child(2) {
                width: 100%;
            }
            &:nth-child(3) {
                width: 100%;
            }
        }
    }
}

// bar-1-css-end

// mobile-toggle-1-css-start
.txa-mobile-menu-1 {
    font-size: 24px;
    color: var(--txa-heading-1);
    transition: 400ms var(--cube-1);
    .txa-bar-1 {
        align-items: end;
        span {
            &:nth-child(2) {
                width: 70%;
            }
            &:nth-child(3) {
                width: 100%;
            }
        }
    }
    &:hover {
        .txa-bar-1 {
            span {
                &:nth-child(2) {
                    width: 100%;
                    transform: rotate(-45deg);
                }   
                &:nth-child(1) {
                    transform: translate(0px , 5px) rotate(45deg);
                }   
                &:nth-child(3) {
                    opacity: 0;
                }   
            }
        }
    }
}
// mobile-toggle-1-css-end


// cart-icon-1-css-start]
.txa-cart-btn-1 {
    display: flex;
    align-items: center;
    font-family: var(--urbanist);
    color: var(--txa-heading-1);
    font-weight: 800;
    font-size: 15px;
    line-height: 1;
    transition: 100ms var(--cube-1);
    i {
        display: inline-block;
        font-size: 22px;
        margin-left: 3px;
        transition: 400ms var(--cube-2);
    }
    .icon {
        position: relative;
        z-index: 1;
        overflow: hidden;
        .icon-2 {
            position: absolute;
            top: 50%;
            left: -70%;
            transform: translate(-50%,-50%);
            transition: 400ms var(--cube-2);
        }
    }
    &:hover {
        color: var(--txa-pr-1);
        transform: translateY(-2px);
        .icon {
            .icon-1 {
                transform: translateX(110%);
            }
            .icon-2 {
                left: 40%;
            }
        }
    }
}

// cart-icon-1-css-end

// pr-btn-1-css-start
.txa-pr-btn-1 {
    display: inline-block;
    flex: 0 0 auto;
    font-family: var(--urbanist);
    text-transform: capitalize;
    font-weight: 900;
    line-height: 1;
    font-size: 18px;
    background: transparent;
    color: #fff;
    padding: 21px 45px;
    border-radius: 31px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 300ms var(--cube-1);

    @media #{$xs} {
        font-size: 16px;
        font-weight: 700;
    }

    @media #{$sm} {
        font-size: 18px;
        font-weight: 900;
    }

    &::after {
        content: "";
        background: var(--txa-gd-1);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        transform-origin: left;
        transition: 300ms var(--cube-1);
    }
    &::before {
        content: "";
        background: var(--txa-pr-1);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        transform-origin: left;
        transition: 300ms var(--cube-1);
    }
    .txt {
        display: inline-block;
        transition: 300ms var(--cube-1);
    }
    &:hover {
        color: #fff;
        transform: scale(98%);
        &::after {
            opacity: 0;
        }
        .txt {
            animation: pr-btn-1 300ms var(--cube-2);
        }
    }

    &:is(.border-btn) {
        border-radius: 6px;
        font-size: 15px;
        color: var(--txa-heading-1);
        font-weight: 800;
        line-height: 20px;
        padding: 12px 20px;
        border: 1px solid #06462b;
        &::after {
            opacity: 0;
        }
        &::before {
            opacity: 0;
        }
        &:hover {
            color: #fff;
            border-color: transparent;
            &::after {
                opacity: 1;
            }
        }
    }
}


@keyframes pr-btn-1 {
    0% {
        opacity: 0;
    }
    30% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

// pr-btn-1-css-end

// border-btn-1-css-start
// .txa-border-btn-1 {
//     display: block;
//     width: 100%;
//     font-family: var(--urbanist);
//     text-transform: capitalize;
//     font-weight: 600;
//     line-height: 1;
//     font-size: 18px;
//     background: transparent;
//     color: #595959;
//     padding: 20px 10px;
//     border-radius: 40px;
//     text-align: center;
//     border: 1px solid #E9D6E3;
//     position: relative;
//     z-index: 1;
//     transition: 400ms var(--cube-1);
//     overflow: hidden;
//     &::after {
//         content: "";
//         background: var(--txa-gd-1);
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//         position: absolute;
//         z-index: -1;
//         transform-origin: center;
//         transform: scale(5);
//         opacity: 0;
//         transition:  600ms var(--cube-1);
//     }
//     &:hover {
//         color: #fff;
//         letter-spacing: -.4px;
//         &::after {
//             opacity: 1;
//             transform: scale(1);
//         }
//     }
// }
// border-btn-1-css-end



@keyframes shake {
    0% {
      transform: translate(3px, 0);
    }
    50% {
      transform: translate(-3px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
}

// purchase-btn-css-end

// all-button-css-end

