
@use '../abstracts/variables' as *;

// career-css-start

.txa-career-1-section-title {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    .txa-title-2 {
        margin-bottom: 25px;
    }
}

.txa-career-1-offers {
    &-wrap {
        padding: 0 90px;
        @media #{$lg,$md,$xs} {
            padding: 0 0px;
        }
    }
    &-single {
        border: 1px solid;
        border-radius: 10px;
        border-color: transparent;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
        padding: 30px 30px;
        display: grid;
        grid-template-columns: 1fr 0.4fr 0.4fr auto;
        align-items: center;
        gap: 30px;
        transition: 500ms var(--cube-1);

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .content-box {
            text-align: center;
            @media #{$md,$xs} {
                text-align: left;
            }

            &:not(:last-child) {
                position: relative;
                &::after {
                    content: "";
                    width: 1px;
                    height: 80px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    background: radial-gradient(circle, hsl(0, 0%, 35%) 0%, hsl(0, 0%, 100%) 100%);
                    opacity: .5;
                    @media #{$md,$xs} {
                        display: none;
                    }
                }
            }
        }

        &-title{
            font-size: 28px;
            line-height: 1.28;
            margin-bottom: 15px;
            text-align: left;
            @media #{$lg,$md,$xs} {
                font-size: 24px;
            }
        }
        &-subtle {
            font-size: 16px;
            font-weight: 500;
            color: #A09F9F;
            margin-bottom: 12px;
        }
        .disc {
            font-size: 20px;
            font-weight: 500;
        }
        &-feature {
            display: flex;
            align-items: center;
            gap: 10px 35px;
            @media #{$xs} {
                flex-wrap: wrap;
            }
            .feature-item {
                font-size: 16px;
                text-transform: capitalize;
                color: #595959;
                line-height: 26px;
                i {
                    display: inline-block;
                    background: var(--txa-gd-1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-right: 3px;
                    transform: translateY(2px);
                }
            }
        }
        .txa-pr-btn-1 {
            font-weight: 700;
            padding: 21px 39px;
            &::before {
                background: #595959;
            }
            &::after {
                opacity: 0;
            }
            &:Hover {
                &::after {
                    opacity: 1;
                }
            }
        }
        &:hover {
            border-color: var(--txa-pr-1);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 15%);
        }
    }
}

// career-css-end