@use '../abstracts/variables' as *;

.txa-contact {
    &-area {
        position: relative;
    }
    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 85%;
    }
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px 60px;
        border: 6px solid #fff;
        background: #fff;
        box-shadow: 0 4px 30px 0 hsl(0deg 0% 0% / 12%);
        border-radius: 30px;
        align-items: center;
        position: relative;
        z-index: 1;
        @media #{$md} {
            gap: 50px 30px;
        }
        @media #{$xs} {
            gap: 50px 30px;
            grid-template-columns: 1fr;
        }
        .txa-contact-form {
            padding: 40px 0;
            padding-left: 60px;
            @media #{$md} {
                padding: 40px 0;
                padding-left: 20px;
            }
            @media #{$xs} {
                padding: 40px 0;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    &-img {
        border-radius: 0 30px 30px 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        @media #{$xs} {
            border-radius: 0 0 30px 30px ;
        }
        .img-transform {
            transform: scale(1.1);
            width: 100%;
            height: 100%;
        }
    }
    &-section-title {
        max-width: 810px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
        .txa-title-2 {
            margin-bottom: 25px;
        }
    }
}


.txa-contact-form {
    input , textarea {
        width: 100%;
        height: 72px;
        border-radius: 10px;
        border: 1px solid rgb(83 85 96 / 15%);
        padding-left: 95px;
        padding-right: 15px;
        font-size: 16px;
        font-weight: 500;
        color: #595959;
        text-transform: capitalize;
        outline: none;
        &:focus ~ .icon {
            color: var(--txa-pr-1);
        }
    }
    textarea {
        height: 180px;
        padding-top: 20px;
    }
    label {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: .5px;
        margin-bottom: 10px;
        span {
            color: red;
        }
        
    }
    .icon {
        font-size: 24px;
        line-height: 1;
        color: var(--txa-heading-2);
        position: absolute;
        bottom: 20px;
        left: 23px;
        transition: 500ms var(--cube-1);
    }
    .input-item {
        position: relative;
        &::after {
            content: "";
            width: 1px;
            height: 50px;
            bottom: 11px;
            left: 72px;
            background: rgb(83 85 96 / 15%);
            position: absolute;
        }
        &:nth-last-child(1n) {
            &::after {
                bottom: unset;
                top: 51px;
            }
            .icon {
                bottom: unset;
                top: 64px;
            }
        }
    }
    .txa-pr-btn-1 {
        border: none;
        outline: none;
    }
}
