@use '../abstracts/variables' as *;

.txa-counter-2 {
    &-section-title {
        max-width: 870px;
        margin-left: auto;
        margin-right: auto;
    }
    &-item-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-radius: 16px;
        gap: 33px 30px;
        padding: 60px 0;
        padding-bottom: 70px;
        box-shadow: 0px 0px 20px 1px #a1a1a11a;
        @media #{$lg,$md,$xs} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }
    &-item {
        display: flex;
        gap: 40px;
        @media #{$xl} {
            gap: 30px;
        }
        @media #{$xs} {
            gap: 30px;
        }
        @media #{$sm} {
            gap: 20px;
        }
        &:nth-child(1) {
            .main-icon {
                &::before {
                    @media #{$over,$xxxl,$xxl,$xl} {
                        display: none; 
                    }

                }
             }
        }
        .main-icon {
            width: 66px;
            height: 66px;
            background: var(--txa-gd-1);
            border-radius: 50%;
            text-align: center;
            line-height: 75px;
            font-size: 28px;
            color: #fff;
            position: relative;
            flex: 0 0 auto;
            z-index: 1;
            &::after {
                content: "";
                width: 122%;
                height: 120%;
                position: absolute;
                top: 50%;
                left: 36px;
                transform: translate(-50% , -50%);
                background: linear-gradient(90deg, rgba(127,57,127,0) 0%, rgba(127,57,127,1) 70%, rgba(127,57,127,1) 100%);
                z-index: -1;
                border-radius: 0 100px 100px 0;
                opacity: .3;
            }
            &::before {
                content: "";
                width: 4px;
                height: 170%;
                position: absolute;
                top: -6px;
                left: -12px;
                border-left: 1px dashed #cc2b5e;
                z-index: 1;
                opacity: 1;
            }
            i {
                display: inline-block;
                transition: 800ms var(--cube-1);
            }
        }
        .number {
            font-size: 54px;
            line-height: 1;
            font-weight: 900;
            @media #{$xs} {
                font-size: 44px;
            }
            @media #{$sm} {
                font-size: 54px;
            }
        }
        .disc {
            font-size: 20px;
            text-transform: capitalize;
            color: #423F3F;
        }
        &:hover {
            .main-icon {
                i {
                    animation: shake 200ms 2 linear;
                }
            }
        }
    }

}

.txa-counter-3-area {
    background-color: #f6f6f6;
}


.marquee-container {
    white-space: nowrap;
    position: absolute;
  }

  .marquee-item {
    display: inline-block;
    margin-right: 20px; /* Adjust the spacing between marquee items */
  }