@use '../abstracts/variables' as *;

// documentation-css-start

.txa-doc-card {
    border: 3px solid #fff;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba( 0, 0 ,0 , 8%);
    margin-bottom: 30px;
    transition: .4s var(--cube-1);
    &-img {
        border-radius: 10px;
        overflow: hidden;
        height: 280px;
    }
    &-content {
        padding: 30px 30px;
        @media #{$lg} {
            padding: 30px 20px;
        }
    }
    &-title {
        font-size: 30px;
        line-height: 1.33;
        margin-bottom: 20px;

        @media #{$lg,$md,$xs} {
            font-size: 26px;
        }

        &:hover {
            color: var(--txa-pr-1);
        }
    }
    &-disc {
       color: #595959 
    }
    &:hover {
           box-shadow: 0 0 20px 0 rgba( 0, 0 ,0 , 15%);
        .txa-doc-card-img {
            img {
                animation: shake 200ms 2 linear;
            }
        }
    }
}

// documentation-css-end