@use '../abstracts/variables' as *;


// faq-page-start

.txa-faqs-page {
    &-area {
        position: relative;
    }
    
    &-bg-shape-1 {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: -1;
    }
    
    &-bg-shape-2 {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        z-index: -1;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        justify-content: space-between;
        gap: 50px;
        height: 100%;

        @media #{$md,$xs} {
            padding-bottom: 50px;
        }

        .txa-pr-btn-1 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 16px;
            padding: 22px 45px;
            border-radius: 10px;
        }
    }
    &-section-title {
        position: sticky;
        top: 0;
        padding-bottom: 120px;
        @media #{$md,$xs} {
            position: unset;
            padding-bottom: 0px;
        }
        .txa-title-2 {
            margin-bottom: 25px;
        }
    }
    
}
.txa-faqs-page-accordion {
    .accordion-item {
        position: relative;
        background: transparent;
        border: none;
        .accordion-header {
            outline: none;
            box-shadow: none;
            position: relative;
            z-index: 1;
            .accordion-button {
                padding: 25px 15px;
                justify-content: space-between;
                gap: 15px;
                align-items: center;
                outline: none;
                box-shadow: none;
                transition: 400ms var(--cube-1);
                border: 1px dashed #C1C1C1;
                border-radius: 10px 10px  10px 10px;
                .title {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.3;
                    transition: 400ms var(--cube-1);
                    margin-right: auto;
                }
                .icon-2 {
                    font-size: 20px;
                    transform: translateY(3px);
                    transition: 400ms var(--cube-1);
                }
                .icon {
                    font-size: 16px;
                    transform: translateY(3px);
                    transition: 400ms var(--cube-1);
                }
                &::after {
                    display: none;
                }

                &:is(:not(.collapsed)) {
                    background: var(--txa-gd-1);
                    border-radius: 10px 10px 0px 0px  ;
                    border: 1px solid transparent;
                    .title {
                        color: #fff;
                    }
                    .icon-2 {
                        color: #fff;
                    }
                    .icon {
                        transform: translateY(3px) rotate(90deg);
                        color: #fff;
                    }
                }
            }
        }
        .accordion-body  {
            padding: 20px 20px;
            background-color: #F8F3F7;
            border-radius:  0px 0px 10px 10px ;
            .disc {
                line-height: 30px;
                color: #595959;
            }
        }
    }   
}

// faq-page-end
