@use '../abstracts/variables' as *;


.txa-footer-1 {
    &-area {
        background: #0c131a;
    }
    &-top {
        border-bottom: 1px solid #1A2127;
        &-flex {
            gap: 20px;
        }
        .txa-social-1 {
            gap: 15px;
            a {
                width: unset;
                height: unset;
                line-height: unset;
                border: unset;
                border-radius: unset;
                font-size: 20px;
                color: #fff;

                .twitter {
                    font-size: 20px;
                }
                &:hover {
                    background: unset;
                    color: var(--txa-pr-1);
                }
            }
        }
    }
    &-widget-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
        gap: 50px 50px;
        @media #{$lg} {
            gap: 50px 20px;
        }
        @media #{$md} {
            gap: 50px 30px;
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media #{$xs} {
            gap: 50px 30px;
            grid-template-columns: 1fr;
        }
        @media #{$sm} {
            gap: 50px 30px;
            grid-template-columns: 1fr 1fr;
        }
    }
    
    &-widget {

        &:nth-last-child(1) {

            @media #{$md} {
                grid-column-start: 2;
                grid-column-end: -1;
            }
            @media #{$xs} {
                grid-column-start: 1;
                grid-column-end: -1;
            }
     
        }

        .title {
            font-size: 22px;
            color: #fff;
            line-height: 29px;
            margin-bottom: 28px;
        }
        .footer-disc {
            font-size: 16px;
            color: #a3a7ac;
            line-height: 25px;
            margin-bottom: 40px;
        }
        
    }
    &-about {
        &-title {
            position: relative;
            z-index: 1;
            .title {
                font-size: 14px;
                color: #fff;
                background: #0c131a;
                display: inline-block;
    
                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: #1A2127;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    z-index: -1;
                }
                
            }
        }
        &-widget {
            display: flex;
            gap: 30px 55px;
            align-items: center;
            padding: 15px  0;

            @media #{$md,$xs} {
                flex-wrap: wrap;
            }

            .footer-logo {
                flex:  0 0 auto;
                background: #ffff;
                width: 205px;
                text-align: center;
                height: 75px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 40px;
            }
            .about-disc {
                font-size: 18px;
                color: #fff;
                line-height: 32px;
                letter-spacing: .2px;
            }
        }
    }
    &-bottom {
        border-top: 1px solid #1A2127;
        &-flex {
            gap: 20px;
            @media #{$xs} {
                flex-wrap: wrap;
            }
        }
    }
    &-copyright {
        font-size: 16px;
        color: #fff;
    }
}




.txa-payment-option-1 {
    .title {
        font-size: 18px;
        color: #fff;
        font-weight: 700;
        margin-right: 10px;
    }
    
}



.txa-counter-1 {
    &-wrap {
        gap: 15px 45px;
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        @media #{$xs} {
            flex-wrap: wrap;
            flex: unset;
        }
    }
    &-item {
        flex: 0 0 auto;
        .number {
            font-size: 29px;
            color: #fff;
            line-height: 1;
        }
        .disc {
            font-size: 15.5px;
            color: #9b9fa4;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}


.txa-search-form-1 {
    &:is(.has-newsletter) {
        input {
            height: 60px;
            padding: 0 30px;
            background: #373a41;
            padding-right: 150px;
        }
        .txa-form-1-btn {
            text-transform: capitalize;
            padding: 0 25px;
            @media #{$xs} {
                height: 60px;
            }
            @media #{$sm} {
                height: 100%;
            }
        }
    }
}

.txa-footer-1-menu {
    li {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        a {
            position: relative;
            display: inline-block;
            font-family: var(--urbanist);
            text-transform: capitalize;
            font-weight: 600;
            color: #a3a7ac;
            line-height: 1;
            letter-spacing: .2px;
            z-index: 1;
            transition: 400ms var(--cube-1);
            &::after {
                content: "";
                width: 0%;
                height: 1px;
                background: var(--txa-pr-1);
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                transition: 400ms var(--cube-1);
            }
            &:hover {
                color: var(--txa-pr-1);
                letter-spacing: .5px;
                &::after {
                    width: 100%;
                    bottom: 1;
                }
            }
        }
    }
    &:is(.has-footer-top) {
        display: flex;
        gap: 10px 40px;
        @media #{$xs} {
            flex-wrap: wrap
        }
        li {
            margin-bottom: 0;
            a {
                color: #fff;
                &:hover {
                    color: var(--txa-pr-1);
                    letter-spacing: .2px;
                }
            }
        }
    }
    
}
