@use '../abstracts/variables' as *;

// mobile-menu-css-start

.mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    display: none;
    ::-webkit-scrollbar {
        display: none;
    }
    &-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      display: flex;
      span {
          flex-wrap: wrap;
          display: block;
          height: 0%;
          &:nth-child(1) {
            background-color: #fff;
            width: 60%;
            @media #{$xs} {
              width: 100%;
            }
            @media #{$sm} {
              width: 80%;
            }
          }
          &:nth-child(2) {
            background-color: #ebebeb;
            width: 40%;
            @media #{$xs} {
              display: none;
            }
            @media #{$sm} {
              width: 40%;
              display: block;
            }
          }
      }
    }
    &-wrap {
      height: 100%;
      padding: 60px 40px;
      overflow-y: scroll;
      @media #{$xs} {
          padding: 40px 20px;
      }
      @media #{$sm} {
        padding: 60px 40px;
      }
    }
    &-logo-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      margin-bottom: 30px;
    }
    &-close {
      font-size: 30px;
      color: #000;
      cursor: pointer;
      transition: 400ms var(--cube-1);
      transform: translate(50px, 0px);
      opacity: 0;
      i {
        line-height: 1;
        display: inline-block;
        transition: 400ms ease-in-out;
      }
      &:hover {
        color: var(--txa-pr-1);
      }
    }
    &-search-bar {
      margin-bottom: 50px;
      .txa-search-form-1 {
        max-width: 55%;
        margin-left: 0;
        @media #{$xs} {
          max-width: 100%;
        }
        @media #{$sm} {
          max-width: 65%;
        }

        input {
          height: 60px;
          border-radius: 5px;
          padding-left: 30px;
          padding-right: 230px;
          background: #f2f2f2dd;
          padding-right: 140px;
          @media #{$xs} {
            padding-right: 30px;
          }
          @media #{$sm} {
            padding-right: 140px;
          }
        }
        .form-btn {
          border-radius: 5px;
          padding: 12px 15px;
          top: 9px;
          @media #{$xs} {
            right: 0;
          }
        }
      }
    }
    &-content-wrap {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 50px;
      justify-content: space-between;
      @media #{$xs} {
        gap: 30px 50px;
        flex-wrap: wrap;
        justify-content: start;
      }
      @media #{$sm} {
        gap: 30px 50px;
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }
    &-action-link {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 20px 40px;
      align-items: center;
      flex: 0 0 auto;
      @media #{$xs} {
        grid-template-columns: 1fr;
        justify-items: left;
      }
      @media #{$sm} {
        grid-template-columns: 1fr;
        justify-items: center;
      }
    }
    .mobile-menu-navigation {
      .mobile-main-navigation {
        max-width: 450px;
      }
    }

}

// fullpage-menu-end



// mobile-menu-css-start

  .mobile-main-navigation .navbar-nav {
    width: 100%;
  }
  .mobile-main-navigation.dropdown:after {
    display: none;
  }
  .mobile-main-navigation .navbar-nav .dropdown-menu {
    position: static !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .mobile-main-navigation .navbar-nav li {
    width: 100%;
    display: block;
    -webkit-transition: 0.3s var(--cub-1);
    transition: 0.3s var(--cub-1);
  }
  .mobile-main-navigation .navbar-nav li a {
    padding: 0;
    width: 100%;
    font-family: var(--urbanist);
    color: #2c2c2b;
    display: block;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px 60px 10px 0 !important;
    &:hover {
      color: var(--txa-pr-1);
    }
  }

   .mobile-main-navigation .navbar-nav li a:after {
    display: none;
  }
  .mobile-main-navigation .dropdown > .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  .mobile-main-navigation .navbar-nav .dropdown-menu {
    border: none;
    display: none;
    -webkit-transition: none;
    transition: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 5px 0px;
    width: 100%;
    background-color: transparent;
  }
   .mobile-main-navigation .navbar-nav .dropdown-menu li {
    border: none;
    padding: 0 10px;
    line-height: 1;
  }
  .mobile-main-navigation .navbar-nav .dropdown-menu li:hover {
    background-color: transparent;
  }
   .mobile-main-navigation .navbar-nav .dropdown-menu li a {
    color: #2c2c2b ;
    font-size: 16px;
  }
   .mobile-main-navigation .navbar-nav .dropdown-menu li a:hover {
    color: var(--txa-pr-1);
    background-color: transparent;
  }
  .mobile-main-navigation .dropdown {
    position: relative;
  }
  .mobile-main-navigation .dropdown .dropdown-btn {
    color: #2c2c2b;
    position: absolute;
    top: 8px;
    right: 0;
    height: 30px;
    padding: 5px 10px;
    &:hover {
      color: var(--gtb-pr-1);
    }
  }
  .mobile-main-navigation .dropdown .dropdown-btn.toggle-open {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            color: var(--txa-pr-1);
  }
  
  // mobile-menu-css-end


  
// mobile-categories-css-start

.mobile-categories {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  display: none;
  ::-webkit-scrollbar {
      display: none;
  }
  &-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: flex;
    span {
        flex-wrap: wrap;
        display: block;
        height: 0%;
        background-color: #fffafa;
        width: 100%;
    }
  }
  &-wrap {
    height: 100%;
    padding: 60px 40px;
    overflow-y: scroll;
    
  }
  &-close {
    font-size: 24px;
    line-height: 1;
    padding-right: 6px;
    transition: 400ms;
    i {
      line-height: 1;
    }
    &:hover {
      color: var(--txa-pr-1);
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    .title {
      font-size: 26px;
      font-weight: 900;
      color: #000;
      position: relative;
      text-transform: uppercase;
      background: var(--txa-gd-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media #{$xs} {
        font-size: 22px;
      }

      @media #{$sm} {
        font-size: 26px;
      }

      &::after {
        content: "";
        width: 60px;
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 1px;
        background: var(--txa-gd-1);
      }
      &::before {
        content: "";
        width: 80px;
        position: absolute;
        bottom: 0px;
        left: 0;
        height: 1px;
        background: var(--txa-gd-1);
      }
    }
  }
  .mobile-main-navigation .navbar-nav li a {
    border-bottom: 1px solid #00000014;
  }
}
// mobile-categories-css-end

