@use '../abstracts/variables' as *;
// guarantee-1-css-start

.txa-guarantee-1 {
    &-area {
        padding-top: 95px;
        padding-bottom: 360px;
    }
    &-img {
        @media #{$xs} {
            margin-bottom: 50px;
        }
    }
    &-section-title {
        padding-left: 70px;
        @media #{$lg} {
            padding-left: 20px;
        }
        @media #{$md} {
            padding-left: 10px;
        }
        @media #{$xs} {
            padding-left: 0px;
        }
        .txa-title-2 {
            margin-bottom: 25px;
        }
        .txa-para-1 {
            margin-bottom: 40px;
            max-width: 780px;

        }
    }
}


// guarantee-1-css-end