@use '../abstracts/variables' as *;

// hire-details-css-start

.txa-hire-details {

    &-content {
        @media #{$md,$xs} {
            margin-bottom: 50px;
        }
        &-title {
            font-size: 52px;
            line-height: 1.19;
            margin-bottom: 35px;
            @media #{$xl} {
                font-size: 48px;
            }
            @media #{$lg} {
                font-size: 42px;
            }
            @media #{$md} {
                font-size: 38px;
            }
            @media #{$xs} {
                font-size: 30px;
            }
            @media #{$sm} {
                font-size: 34px;
            }
        }
    }

    &-widget {
        background: #F6F2FB;
        border-radius: 10px;
        padding: 50px 40px;

        @media #{$xs} {
            padding: 50px 20px;
        }

        @media #{$sm} {
            padding: 50px 40px;
        }

        &-title {
            font-size: 36px;
            line-height: 1.27;
            margin-bottom: 25px;
            @media #{$xl} {
                font-size: 34px;
            }
            @media #{$lg,$md,$xs} {
                font-size: 30px;
            }
        }
    }

    &-choose-us {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
        gap: 30px 0;
        align-items: center;
        @media #{$lg} {
            grid-template-columns: 1.6fr 2fr;
        }
        @media #{$md} {
            grid-template-columns: 1.5fr 2fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-feature {
        li {
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
            color: var(--txa-heading-2);
            text-transform: capitalize;
            display: flex;
            align-items: center;
            gap: 15px;
            
            &:not(:last-child) {
                margin-bottom: 15px;
            }

            .icon {
                width: 44px;
                height: 44px;
                display: inline-block;
                text-align: center;
                line-height: 51px;
                font-size: 22px;
                background: #EDE6F6;
                border-radius: 50%;
                color: #7C4EB7;
                flex: 0 0 auto;
                i {
                    display: inline-block;
                    transition: 500ms var(--cube-1);
                }
            }
            &:hover {
                .icon {
                    i {
                        animation: shake 200ms 2 linear;
                    }
                }
            }
        }
    }

    &-description {
        .disc {
            line-height: 30px;
            color: #595959;
            &:not(:last-child) {
                margin-bottom: 18px;
            }
        }
    }

    &-list-feature {
        li {
            font-size: 18px;
            line-height: 28px;
            color: #595959;
            padding-left: 17px;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 12px;
            }

            &::after {
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: var(--txa-heading-2);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    
    &-sidebar-wrap {
        > .txa-pr-btn-1 {
            width: 100%;
            border-radius: 10px;
            text-align: center;
            padding: 27px 10px;
            .txt {
                display: inline-block;
                background: var(--txa-gd-1);
                -webkit-background-clip: text;
                -webkit-text-fill-color: #fff;
                transition: 600ms var(--cube-1);
            }

            &:hover {
                .txt {         
                    animation: toggle-item .3s var(--cube-2);
                }
            }
        }
    }
}



.txa-hire-package-single {
    display: flex;
    align-items: center;
    gap: 30px;
    @media #{$xs} {
        gap: 30px;
        flex-wrap: wrap;
    }
    @media #{$sm} {
        gap: 10px;
        flex-wrap: nowrap;
    }
    &:not(:last-child) {
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(89 89 89 / 20%);
        margin-bottom: 30px;
    }

    .icon {
        width: 120px;
        height: 120px;
        background: #EDE6F6;
        text-align: center;
        line-height: 140px;
        font-size: 65px;
        color: #7C4EB7;
        flex: 0 0 auto;
        i {
            display: inline-block;
            transition: 400ms var(--cube-1);
            line-height: 1;
        }
    }

    .title {
        font-size: 24px;
        line-height: 1.25;
        max-width: 420px;
        margin-bottom: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
        overflow: hidden;
        @media #{$lg,$md,$xs} {
            font-size: 20px; 
        }
    }

    .price {
        display: inline-block;
        background: var(--txa-gd-1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
    }
    &-btn {
        margin-left: auto;
        flex: 0 0 auto;
        @media #{$xs} {
            margin-left: unset;
        }
        @media #{$sm} {
            margin-left: auto;
        }
    }
    &-btn {
        border: 1px solid var(--txa-pr-1);
        font-weight: 700;
        padding: 15px 35px;
        &::after {
            opacity: 0;
        }
        &::before {
            opacity: 0;
        }
        .txt {
            display: inline-block;
            background: var(--txa-gd-1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: 500ms var(--cube-1);
        }
        &:hover {
            border-color: transparent;
            &::after {
                opacity: 1;
            }
            .txt {
                -webkit-text-fill-color: #fff;
            }

        }
    }

    &:hover {
        .icon {
            i {
                animation: shake 200ms 2 linear;
            }
        }
    }
}


.txa-hire-review-single {
    position: relative;
    z-index: 1;
    background: #FCFBFE;
    border-radius: 15px;
    padding: 30px 30px;
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 92px;
        height: 100%;
        background: #EAE1F5;
        z-index: -1;
    }

    .comment-and-icon {
        display: flex;
        gap: 45px;
        margin-left: -11px;
        @media #{$xs} {
            flex-wrap: wrap;
        }

        @media #{$sm} {
            flex-wrap: nowrap;
        }
    }

    i {
        font-size: 62px;
        line-height: 1;
        color: #7C4EB7;
        flex: 0 0 auto;
    }

    .comment {
        font-size: 20px;
        line-height: 30px;

        span {
            color: var(--txa-pr-1);
        }
    }

    &-author {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

        .main-img {
            width: 92px;
            height: 92px;
            border: 8px solid #fff;
            border-radius: 50%;
            overflow: hidden;
            flex: 0 0 auto;
        }
    
        .name {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 5px;
        }
        
        .bio {
            font-size: 16px;
            text-transform: capitalize;
            display: inline-block;
            background: var(--txa-gd-1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }
    
}

// hire-details-css-end