@use '../abstracts/variables' as *;

.txa-hire-us-area {
    background: #f6f6f6;
}

.txa-hire-us-card {
    border-radius: 0 0 500px 500px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    &-padding {
        clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 70px;
        padding-top: 105px;
        position: relative;
        z-index: 1;
        background-color: #fff;
    }

    .main-icon {
        font-size: 50px;
        background: var(--txa-gd-1);
        color: #fff;
        border-radius: 10px 0 0 0;
        position: absolute;
        width: 94%;
        text-align: left;
        top: 0;
        left: 24px;
        padding: 17px 20px;
    }
    .disc {
        color: #595959;
        margin-bottom: 40px;
    }
    .title {
        font-size: 28px;
        line-height: 1.42;
        font-weight: 700;
        margin-bottom: 35px;
        @media #{$lg} {
            font-size: 22px;
        }
        @media #{$xs} {
            font-size: 22px;
        }
        @media #{$sm} {
            font-size: 28px;
        }
    }
    .price-wrap {
        width: 140px;
        height: 140px;
        background: var(--txa-gd-1);
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px;
        .price {
            color: #fff;
            font-size: 42px;
            line-height: 1;
        }
        .cents {
            display: inline-block;
            font-size: 26px;
            font-weight: 600;
            color: #fff;
            background: #833781;
            width: 70px;
            height: 70px;
            line-height: 70px;
            border-radius: 50%;
            position: absolute;
            right: -40px;
            top: 0;
        }
    }
    .card-btn {
        border: 1px solid var(--txa-pr-1);
        padding: 21px 82px;
        .txt {
            display: inline-block;
            background: var(--txa-gd-1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: 500ms var(--cube-1);
        }
        &::after {
            opacity: 0;
        }
        &::before {
            opacity: 0;
        }
        &:hover {
            border-color: transparent;
            .txt {
                -webkit-text-fill-color: #fff;
            }
            &::after {
                opacity: 1;
            }
        }
    }
}
