@use '../abstracts/variables' as *;

// jobs-apply-css-start

.txa-jobs-apply {
    &-section-title {
        .txa-title-2 {
            margin-bottom: 25px;
        }
        .txa-para-2 {
            max-width: 690px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
}

.txa-jobs-apply-form {
    padding: 0 95px;

    @media #{$lg,$md,$xs} {
        padding: 0 0px;
    }

    .txa-ticket-form {
        background: #F7F7F7;
        border-radius: 20px;
        padding: 50px 40px;
        gap: 20px  20px;

        @media #{$xs} {
            padding: 50px 15px;
        }

        @media #{$sm} {
            padding: 50px 40px;
        }

        .input-item {
            .input-box, textarea {
                height: 62px;
                background: #fff;
                padding: 0 20px;
            }
            textarea {
                height: 185px;
                padding: 15px 20px;
            }
        }

        .upload-file-btn {
            input {
                margin-bottom: 15px;
            }
            ::file-selector-button {
                border: none;
                font: inherit;
                -webkit-appearance: button;
                background: #595959;
                border-radius: 10px;
                color: #fff;
                font-weight: 600;
                font-size: 16px;
                line-height: 30px;
                padding: 12px 40px;
                margin-right: 20px;
                position: relative;
                transition: 500ms var(--cube-1);
                cursor: pointer;
                &:hover {
                    background-color: var(--txa-pr-1);
                }
            }
            input[type="file" i] {
                color: var(--txa-heading-1);
                font-weight: 500;
                font-size: 16px;
                @media #{$xs} {
                    font-size: 12px;
                }
                @media #{$sm} {
                    font-size: 16px;
                }
            }
            .file-allow {
                font-size: 14px;
                color: #595959;
            }
        }

        .check-item {
            label::before {
                border: 1px solid var(--txa-pr-1);
            }
            label::after {
                background: var(--txa-gd-1);
            }
        }

        .txa-pr-btn-1 {
            justify-self: left;
            border-radius: 30px;
            font-weight: 700;
        }

    }
}

// jobs-apply-css-end

