@use '../abstracts/variables' as *;

// all-widget-css-start

.txa-page-title {
    background: #FFECF3;
    border-radius: 10px;
    padding: 10px;
    .page-name {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        background: var(--txa-gd-1);
        color: #fff;
        padding: 18px  10px;
        border-radius: 10px;
    }
}

.txa-sidebar-widget {
    background: #fff;
    border-radius: 10px;
    border: 2px solid #E3F2E3;
    padding: 20px 15px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    .title {
        font-size: 20px;
        line-height: 1.6;
        font-weight: 900;
        padding-bottom: 5px;
        position: relative;
        margin-bottom: 18px;
        &::after {
            content: "";
            width: 20%;
            height: 3px;
            border-radius: 7px;
            background: var(--txa-gd-1);
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &-purchase {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        &-btn {
            padding: 25px 25px;
            .txa-pr-btn-1 {
                width: 100%;
                text-align: center;
                font-weight: 800;
                border: 1px solid #ECD6E2;
                color: #595959;
                &::after {
                    opacity: 0;
                }
                &::before {
                    opacity: 0;
                }
                &:is(.has-active) {
                    color: #fff;
                    &::after {
                        opacity: 1;
                    }
                    &::before {
                        opacity: 1;
                    }    
                    &:hover {
                        &::after {
                            opacity: 0;
                        }
                    }
                }

                &:hover {
                    border-color: transparent;
                    color: #fff;
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &-2 {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        padding: 25px 25px;
    }
}

.txa-sidebar-categories {
    li {
        &:not(:last-child) {
            margin-bottom: 6px;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: var(--urbanist);
        font-weight: 600;
        color: var(--txa-heading-2);
        font-size: 18px;
        line-height: 1;
        gap: 10px;
        border-bottom: 1px solid  #E3F2E3;
        padding: 12px 20px;
        padding-right: 10px;
        border-radius: 50px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: 400ms var(--cube-1);
        cursor: pointer;
        &::after {
            content: "";
            width: 100%;
            height: 0%;
            top: auto;
            bottom: 0;
            left: 0;
            position: absolute;
            background: var(--txa-gd-1);
            z-index: -1;
            transition: 400ms var(--cube-1);
        }
        .number {
            display: inline-block;
            flex: 0 0 auto;
            width: 38px;
            height: 38px;
            background: #FCF5F7;
            border-radius: 50%;
            text-align: center;
            line-height: 38px;
            color: #6C0157;
            position: relative;
            overflow: hidden;

        }
        &:hover {
            color: #fff;
            &::after {
                top: 0;
                bottom: auto;
                height: 100%;
            }
        }
    }
    &:is(.has-style-two) {
        li {
            padding: 19px 20px;
        }
    }
}

.txa-sidebar-fillter {
    li {
        position: relative;
        display: flex;
        align-items: center;
        gap: 17px;
        cursor: pointer;
        padding: 20px 0;
        z-index: 1;

        &:nth-last-child(1) {
            padding: 20px 0;
            padding-bottom: 0px;
        } 

        &:not(:last-child) {

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                position: absolute;
                background: linear-gradient(90deg, rgba(127,57,127,0) 0%, rgba(194,44,100,1) 50%, rgba(127,57,127,0) 100%);
                z-index: -1;
                transition: 400ms var(--cube-1);
                opacity: .3;
            }
        }



        label {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: var(--urbanist);
            font-weight: 600;
            color: var(--txa-heading-2);
            text-transform: capitalize;
            font-size: 18px;
            line-height: 1;
            cursor: pointer;
            &::before {
                content: "";
                background-color: #fff;
                border: 2px solid #BABABA;
                border-radius: 50%;
                cursor: pointer;
                height: 20px;
                left: 0;
                position: absolute;
                top: 19px;
                width: 20px;
            }
 
            &::after {
                border: none;
                border-radius: 50%;
                content: "";
                background: var(--txa-gd-1);
                height: 8px;
                width: 8px;
                left: 6px;
                top: 25px;
                opacity: 0;
                position: absolute;
    
            }
            .number {
                display: inline-block;
                flex: 0 0 auto;
                color: #626060;
            }

        }
        input {
            visibility: hidden;
            &:checked + label {
                .number {
                    color: #6C0157;
                }
                &::before {
                    border-color: var(--txa-pr-1);
                }
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}

.txa-license {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 25px;
    padding-bottom: 30px;
    .title {
        font-size: 30px;
        color: #fff;
        line-height: 1.33;
        margin-bottom: 5px;
    }
    .disc {
        color: #fff;
    }
}

.txa-regular-price {
    font-size: 30px;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    span {
        font-size: 20px;
        font-weight: 500;
    }
}

.txa-sidebar-purchase {

    li {
        font-size: 28px;
        font-weight: 800;
        font-family: var(--urbanist);
        padding-bottom: 20px;
        position: relative;
        margin-bottom: 20px;
        text-transform: capitalize;

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            position: absolute;
            background: linear-gradient(90deg, rgba(127, 57, 127, 0) 0%, rgb(177 176 177) 50%, rgba(127, 57, 127, 0) 100%);
            z-index: -1;
            transition: 400ms var(--cube-1);
            opacity: .5;
        }

        .icon {
            width: 60px;
            height: 60px;
            display: inline-block;
            text-align: center;
            line-height: 68px;
            background: #F9EEF8;
            border-radius: 50%;
            font-size: 22px;
            margin-right: 15px;
            color: var(--txa-pr-1);
            i {
                line-height: 1;
                display: inline-block;
                transition: 500ms var(--cube-1);
            }
        }

        span {
            font-size: 18px;
            font-weight: 400;
            color: #595959;
        }

        &:hover {
            .icon {
                i {
                    animation: toggle-item 1s var(--cube-1);
                }
            }

        }
    }
    
}

.txa-sidebar-rating {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    .title {
        font-size: 22px;
    }
}

.txa-sidebar-item-feature {
    li {
        font-family: var(--urbanist);
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 600;
        color: var(--txa-heading-2);
        line-height: 30px;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 50px;
        position: relative;

        @media #{$lg} {
            gap: 10px;
        }
        @media #{$xs} {
            gap: 10px;
        }
        @media #{$sm} {
            gap: 50px;
        }

        &:not(:last-child) {
            padding-bottom: 15px;
            margin-bottom: 15px;
            &::after {
                content: "";
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                position: absolute;
                background: linear-gradient(90deg, rgba(127, 57, 127, 0) 0%, rgb(177, 176, 177) 50%, rgba(127, 57, 127, 0) 100%);
                z-index: -1;
                transition: 400ms var(--cube-1);
                opacity: 0.5;
            }
        }

        span {
            font-weight: 400;
            color: #595959;
            text-align: right;
        }

    }
}

.txa-hire-details-sidebar {
    background: var(--txa-gd-1);
    text-align: center;
    border-radius: 10px;
    padding: 40px 25px;

    .txa-pr-btn-1 {
        width: 100%;
        padding: 21px 10px;

        &::after {
            background: #fff;
        }

        &::before {
            background: var(--txa-heading-2);
        }

        .txt {
            display: inline-block;
            background: var(--txa-gd-1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: 400ms var(--cube-1);
        }
        &:hover {
            .txt {
                -webkit-text-fill-color: #fff;
            }
        }
    }
    .txa-hire-regular-price {
        font-size: 35px;
        line-height: 1.28;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        @media #{$lg,$md,$xs} {
            font-size: 30px;
        }
        span {
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
        }
    }
    
}




// all-widget-css-end