@use '../abstracts/variables' as *;

// support-policy-css-start

.txa-support-policy {
    &-page-title {
        margin-bottom: 50px;
    }
    &-list{
        &-single {
            display: grid;
            grid-template-columns: .4fr 1fr;
            gap: 10px 20px;
            @media #{$xs} {
                grid-template-columns: 1fr;
            }
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        &-title {
            font-size: 28px;
            line-height: 1.28;
            font-weight: 700;
            @media #{$xl,$md} {
                font-size: 24px;
            }
            @media #{$xs} {
                font-size: 20px;
            }
            @media #{$sm} {
                font-size: 22px;
            }
        }
        &-disc {
            line-height: 30px;
            color: #595959;
            word-break: break-all;

            &:not(:last-child) {
                margin-bottom: 18px;
            }

            a {
                display: inline-block;
                color: var(--txa-pr-1);
                transition: 400ms var(--cube-1);
                &:hover {
                    color: #000;
                }
            }

        }
    }
    &-list {
        li {
            font-size: 18px;
            line-height: 30px;
            color: #595959;
            a {
                display: inline-block;
                color: var(--txa-pr-1);
                transition: 400ms var(--cube-1);
                &:hover {
                    color: #000;
                }
            }
        }

        &:is(.has-copyright) {

            li {
                position: relative;
                margin-bottom: 15px;
                padding-left: 16px;
            
                &::after {
                    content: "";
                    width: 6px;
                    height: 6px;
                    background: var(--txa-gd-1);
                    position: absolute;
                    top: 12px;
                    left: 0;
                    border-radius: 50%;
                }
            }
        }
    }
}


// support-policy-css-end
