@use '../abstracts/variables' as *;


.txa-heading-1 {
    font-family: var(--urbanist);
    font-weight: 800;
    line-height: 1.15;
    color: var(--txa-heading-1);
    text-transform: capitalize;
    margin-bottom: 0px;
}

.txa-para-1 {
    font-family: var(--urbanist);
    font-weight: 500;
    line-height: 28px;
    font-size: 18px;
    color: var(--txa-heading-1);
    margin-bottom: 0px;
}