@use '../abstracts/variables' as *;

.txa-life {
    &-1 {
        &-item-wrap {
            display: flex;
            gap: 30px;
            align-items: end;
            justify-content: end;
        }
        &-item-wrap-2 {
            display: flex;
            gap: 30px;
        }
        &-item {
            max-width: 480px;
            height: 565px;
            overflow: hidden;
            border-radius: 20px;
            flex: 0 0 auto;

            @media #{$xxxl,$xxl} {
                max-width: 420px;
                height: 500px;
            }

            @media #{$xl,$lg,$md} {
                max-width: 300px;
                height: 400px;
            
            }
            @media #{$xs} {
                max-width: 200px;
                height: 300px;
            
            }

            &:nth-child(even){
                max-width: 335px;
                height: 358px;
                @media #{$xxxl,$xxl} {
                    max-width: 275px;
                    height: 300px;
                }
                @media #{$xl,$lg,$md} {
                    max-width: 275px;
                    height: 300px;
                }
                @media #{$xs} {
                    max-width: 170px;
                    height: 200px;
                }
            }
        }
    }
}