@use '../abstracts/variables' as *;

.txa-life {
    &-1 {
        &-item-wrap {
            display: flex;
            gap: 30px;
            align-items: end;
            justify-content: end;

            .txa-life-1-item {
                &:hover {
                    img {
                        transform-origin: 50% 100%;
                        transform: rotateX(20deg);
                    }
                }

            }
        }
        &-item-wrap-2 {
            display: flex;
            gap: 30px;
            justify-content: end;
            .txa-life-1-item {
                &:hover {
                    img {
                        transform-origin: 50% 0%;
                        transform: rotateX(-20deg);
                    }
                }

            }
        }
        &-item {
            max-width: 480px;
            height: 565px;
            overflow: hidden;
            border-radius: 20px;
            flex: 0 0 auto;
            perspective: 2000px;
            transform-style: preserve-3d;
            @media #{$xxxl,$xxl} {
                max-width: 420px;
                height: 500px;
            }

            @media #{$xl,$lg,$md} {
                max-width: 300px;
                height: 400px;
            
            }
            @media #{$xs} {
                max-width: 200px;
                height: 300px;
            
            }

            img {
                transition: 400ms var(--cube-2);
                border-radius: 20px;
            }

            &:nth-child(even){
                max-width: 335px;
                height: 358px;
                @media #{$xxxl,$xxl} {
                    max-width: 275px;
                    height: 300px;
                }
                @media #{$xl,$lg,$md} {
                    max-width: 275px;
                    height: 300px;
                }
                @media #{$xs} {
                    max-width: 170px;
                    height: 200px;
                }
            }
        }
    }
    &-2 {
        &-area {
            background: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(221, 100%, 95%, 1) 100%);
        }
    }
}