

@font-face {
    font-family: "flaticon_plg";
    src: url("../fonts/flaticon_plg.woff2?6cf21358d324b050f8cf53b1e680eded") format("woff2"),
url("../fonts/flaticon_plg.woff?6cf21358d324b050f8cf53b1e680eded") format("woff"),
url("../fonts/flaticon_plg.eot?6cf21358d324b050f8cf53b1e680eded#iefix") format("embedded-opentype"),
url("../fonts/flaticon_plg.ttf?6cf21358d324b050f8cf53b1e680eded") format("truetype"),
url("../fonts/flaticon_plg.svg?6cf21358d324b050f8cf53b1e680eded#flaticon_plg") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_plg !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-facebook-app-symbol:before {
    content: "\f101";
}
.flaticon-left-quote:before {
    content: "\f102";
}
.flaticon-snapchat:before {
    content: "\f103";
}
.flaticon-folder:before {
    content: "\f104";
}
.flaticon-folder-1:before {
    content: "\f105";
}
.flaticon-wechat:before {
    content: "\f106";
}
.flaticon-wechat-1:before {
    content: "\f107";
}
.flaticon-whatsapp:before {
    content: "\f108";
}
.flaticon-instagram:before {
    content: "\f109";
}
.flaticon-cloud-computing:before {
    content: "\f10a";
}
.flaticon-cancel:before {
    content: "\f10b";
}
.flaticon-facebook:before {
    content: "\f10c";
}
.flaticon-instagram-1:before {
    content: "\f10d";
}
.flaticon-encrypted:before {
    content: "\f10e";
}
.flaticon-money-bag:before {
    content: "\f10f";
}
.flaticon-wordpress:before {
    content: "\f110";
}
.flaticon-folder-2:before {
    content: "\f111";
}
.flaticon-linkedin:before {
    content: "\f112";
}
.flaticon-whatsapp-1:before {
    content: "\f113";
}
.flaticon-youtube:before {
    content: "\f114";
}
.flaticon-shield:before {
    content: "\f115";
}
.flaticon-facebook-1:before {
    content: "\f116";
}
.flaticon-snapchat-1:before {
    content: "\f117";
}
.flaticon-accept:before {
    content: "\f118";
}
.flaticon-right:before {
    content: "\f119";
}
.flaticon-down:before {
    content: "\f11a";
}
.flaticon-minus:before {
    content: "\f11b";
}
.flaticon-calendar:before {
    content: "\f11c";
}
.flaticon-star:before {
    content: "\f11d";
}
.flaticon-down-arrow:before {
    content: "\f11e";
}
.flaticon-down-arrow-1:before {
    content: "\f11f";
}
.flaticon-next:before {
    content: "\f120";
}
.flaticon-linkedin-1:before {
    content: "\f121";
}
.flaticon-grocery-store:before {
    content: "\f122";
}
.flaticon-whatsapp-2:before {
    content: "\f123";
}
.flaticon-linkedin-2:before {
    content: "\f124";
}
.flaticon-skype:before {
    content: "\f125";
}
.flaticon-wechat-2:before {
    content: "\f126";
}
.flaticon-wechat-3:before {
    content: "\f127";
}
.flaticon-skype-1:before {
    content: "\f128";
}
.flaticon-instagram-2:before {
    content: "\f129";
}
.flaticon-version:before {
    content: "\f12a";
}
.flaticon-twitter:before {
    content: "\f12b";
}
.flaticon-twitter-1:before {
    content: "\f12c";
}
.flaticon-twitter-2:before {
    content: "\f12d";
}
.flaticon-down-chevron:before {
    content: "\f12e";
}
.flaticon-sparkle:before {
    content: "\f12f";
}
.flaticon-verification:before {
    content: "\f130";
}
.flaticon-cyber-security:before {
    content: "\f131";
}
.flaticon-add:before {
    content: "\f132";
}
.flaticon-documentation:before {
    content: "\f133";
}
.flaticon-down-arrow-2:before {
    content: "\f134";
}
.flaticon-hard-work:before {
    content: "\f135";
}
.flaticon-social-media:before {
    content: "\f136";
}
.flaticon-skype-2:before {
    content: "\f137";
}
.flaticon-text:before {
    content: "\f138";
}
.flaticon-snapchat-2:before {
    content: "\f139";
}

