

@font-face {
    font-family: "flaticon_txa";
    src: url("../fonts/flaticon_txa.woff2?25aa36340ac49683fbf0c38931d1a8ff") format("woff2"),
url("../fonts/flaticon_txa.woff?25aa36340ac49683fbf0c38931d1a8ff") format("woff"),
url("../fonts/flaticon_txa.eot?25aa36340ac49683fbf0c38931d1a8ff#iefix") format("embedded-opentype"),
url("../fonts/flaticon_txa.ttf?25aa36340ac49683fbf0c38931d1a8ff") format("truetype"),
url("../fonts/flaticon_txa.svg?25aa36340ac49683fbf0c38931d1a8ff#flaticon_txa") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_txa !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-dots-menu:before {
    content: "\f101";
}
.flaticon-download-to-storage-drive:before {
    content: "\f102";
}
.flaticon-long-arrow-pointing-to-the-right:before {
    content: "\f103";
}
.flaticon-long-arrow-pointing-to-left:before {
    content: "\f104";
}
.flaticon-arrow-down-sign-to-navigate:before {
    content: "\f105";
}
.flaticon-fast-forward-double-right-arrows-symbol:before {
    content: "\f106";
}
.flaticon-search-interface-symbol:before {
    content: "\f107";
}
.flaticon-calendar:before {
    content: "\f108";
}
.flaticon-fast-forward-double-right-arrows:before {
    content: "\f109";
}
.flaticon-briefcase-with-tick-inside:before {
    content: "\f10a";
}
.flaticon-chat-bubbles-with-ellipsis:before {
    content: "\f10b";
}
.flaticon-phone-call:before {
    content: "\f10c";
}
.flaticon-list:before {
    content: "\f10d";
}
.flaticon-viber:before {
    content: "\f10e";
}
.flaticon-left-quote:before {
    content: "\f10f";
}
.flaticon-check:before {
    content: "\f110";
}
.flaticon-facebook:before {
    content: "\f111";
}
.flaticon-left-arrow:before {
    content: "\f112";
}
.flaticon-right-arrow:before {
    content: "\f113";
}
.flaticon-user:before {
    content: "\f114";
}
.flaticon-email:before {
    content: "\f115";
}
.flaticon-envelope:before {
    content: "\f116";
}
.flaticon-browser:before {
    content: "\f117";
}
.flaticon-left-arrow-1:before {
    content: "\f118";
}
.flaticon-right-arrow-1:before {
    content: "\f119";
}
.flaticon-layers:before {
    content: "\f11a";
}
.flaticon-cancel:before {
    content: "\f11b";
}
.flaticon-mail:before {
    content: "\f11c";
}
.flaticon-group:before {
    content: "\f11d";
}
.flaticon-chat:before {
    content: "\f11e";
}
.flaticon-checked:before {
    content: "\f11f";
}
.flaticon-calendar-1:before {
    content: "\f120";
}
.flaticon-user-1:before {
    content: "\f121";
}
.flaticon-placeholder:before {
    content: "\f122";
}
.flaticon-suitcase:before {
    content: "\f123";
}
.flaticon-suitcase-1:before {
    content: "\f124";
}
.flaticon-pin:before {
    content: "\f125";
}
.flaticon-star:before {
    content: "\f126";
}
.flaticon-like:before {
    content: "\f127";
}
.flaticon-cancel-1:before {
    content: "\f128";
}
.flaticon-check-1:before {
    content: "\f129";
}
.flaticon-instagram:before {
    content: "\f12a";
}
.flaticon-hand:before {
    content: "\f12b";
}
.flaticon-file:before {
    content: "\f12c";
}
.flaticon-delete:before {
    content: "\f12d";
}
.flaticon-wordpress:before {
    content: "\f12e";
}
.flaticon-rating:before {
    content: "\f12f";
}
.flaticon-comment:before {
    content: "\f130";
}
.flaticon-youtube:before {
    content: "\f131";
}
.flaticon-computer:before {
    content: "\f132";
}
.flaticon-down-chevron:before {
    content: "\f133";
}
.flaticon-right-chevron:before {
    content: "\f134";
}
.flaticon-handshake:before {
    content: "\f135";
}
.flaticon-lock:before {
    content: "\f136";
}
.flaticon-check-2:before {
    content: "\f137";
}
.flaticon-double-chevron:before {
    content: "\f138";
}
.flaticon-3d-modeling:before {
    content: "\f139";
}
.flaticon-facebook-1:before {
    content: "\f13a";
}
.flaticon-money:before {
    content: "\f13b";
}
.flaticon-speech-bubble:before {
    content: "\f13c";
}
.flaticon-coding:before {
    content: "\f13d";
}
.flaticon-down:before {
    content: "\f13e";
}
.flaticon-right:before {
    content: "\f13f";
}
.flaticon-left:before {
    content: "\f140";
}
.flaticon-check-3:before {
    content: "\f141";
}
.flaticon-person:before {
    content: "\f142";
}
.flaticon-more:before {
    content: "\f143";
}
.flaticon-star-1:before {
    content: "\f144";
}
.flaticon-delete-1:before {
    content: "\f145";
}
.flaticon-down-arrow:before {
    content: "\f146";
}
.flaticon-down-arrow-1:before {
    content: "\f147";
}
.flaticon-down-arrow-2:before {
    content: "\f148";
}
.flaticon-right-arrows:before {
    content: "\f149";
}
.flaticon-next:before {
    content: "\f14a";
}
.flaticon-search:before {
    content: "\f14b";
}
.flaticon-linkedin:before {
    content: "\f14c";
}
.flaticon-location-pin:before {
    content: "\f14d";
}
.flaticon-clock:before {
    content: "\f14e";
}
.flaticon-visibility:before {
    content: "\f14f";
}
.flaticon-grocery-store:before {
    content: "\f150";
}
.flaticon-linkedin-1:before {
    content: "\f151";
}
.flaticon-mail-inbox-app:before {
    content: "\f152";
}
.flaticon-ranking:before {
    content: "\f153";
}
.flaticon-quote:before {
    content: "\f154";
}
.flaticon-briefcase:before {
    content: "\f155";
}
.flaticon-easy-installation:before {
    content: "\f156";
}
.flaticon-productivity:before {
    content: "\f157";
}
.flaticon-check-mark:before {
    content: "\f158";
}
.flaticon-check-mark-1:before {
    content: "\f159";
}
.flaticon-graph:before {
    content: "\f15a";
}
.flaticon-bar-graph:before {
    content: "\f15b";
}
.flaticon-search-1:before {
    content: "\f15c";
}
.flaticon-sms:before {
    content: "\f15d";
}
.flaticon-love:before {
    content: "\f15e";
}
.flaticon-highlight:before {
    content: "\f15f";
}
.flaticon-remote-working:before {
    content: "\f160";
}
.flaticon-down-arrow-3:before {
    content: "\f161";
}
.flaticon-copy:before {
    content: "\f162";
}
.flaticon-location:before {
    content: "\f163";
}
.flaticon-improvement:before {
    content: "\f164";
}
.flaticon-check-4:before {
    content: "\f165";
}
.flaticon-continuous-improvement:before {
    content: "\f166";
}
.flaticon-calendar-2:before {
    content: "\f167";
}
.flaticon-left-arrow-2:before {
    content: "\f168";
}
.flaticon-html:before {
    content: "\f169";
}
.flaticon-software:before {
    content: "\f16a";
}
.flaticon-arrow:before {
    content: "\f16b";
}
.flaticon-arrow-1:before {
    content: "\f16c";
}
.flaticon-calendar-3:before {
    content: "\f16d";
}
.flaticon-right-arrow-2:before {
    content: "\f16e";
}
.flaticon-love-1:before {
    content: "\f16f";
}
.flaticon-businessman:before {
    content: "\f170";
}
.flaticon-right-1:before {
    content: "\f171";
}
.flaticon-time-is-money:before {
    content: "\f172";
}
.flaticon-layers-1:before {
    content: "\f173";
}
.flaticon-back:before {
    content: "\f174";
}
.flaticon-production:before {
    content: "\f175";
}
.flaticon-lauch:before {
    content: "\f176";
}
.flaticon-web-design:before {
    content: "\f177";
}
.flaticon-twitter:before {
    content: "\f178";
}
.flaticon-check-5:before {
    content: "\f179";
}
.flaticon-star-2:before {
    content: "\f17a";
}
.flaticon-efficacy:before {
    content: "\f17b";
}
.flaticon-check-6:before {
    content: "\f17c";
}
